/Ejemplos/nbproject/private/
/Ejemplos/build/
/Problematicas/ejercicio1/nbproject/private/
/Problematicas/ejercicio2/nbproject/private/
/Problematicas/ejercicio3/nbproject/private/
/Problematicas/ejercicio4/nbproject/private/
/Problematicas/ejercicio5/nbproject/private/
/Problematicas/ejercicio2/build/
/Problematicas/ejercicio5/build/
